<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <style type="text/css">
    body {
        font-size: 15px;
        margin: 4px;
    }
    </style>
</head>

<body>
    <center><strong>繁华茂丽的江浙沪，<br>处处都是美景，<br>手持迈邦和ZOOM联合定制亲子旅游护照，<br>畅游江浙沪。<br>上海等地55家景点门票统统免费啦！！！</strong></center>
    <br><img src="http://106.14.15.72/imgs/org/201709/8d/1024-768/8dabe808-f828-4334-a87a-cc61391a350a.jpg" alt="">
    <br>
    <br>请扫二维码下载<strong>童行圈</strong>购买
    <br><img src="http://106.14.15.72/imgs/org/201710/64/1024-768/6438c14a-0fa9-4414-9259-306b5ce30b29.png" alt="">
    <br>
    <br><strong>此护照为亲子护照，限一位成人和一位10岁以下儿童使用。</strong>
    <br>
    <br><strong>使用方法：</strong>见护照首页，激活流程及使用方法。
    <br>
    <br><strong>1.零度滑雪室内训练中心</strong>
    <br>价格：
    <del>400</del>元，类别：主题体验
    <br>免预约，30分钟培训+30分钟上机。平日可用。
    <br><img src="http://106.14.15.72/imgs/org/201709/11/1024-768/1175ec44-3cc0-41fc-a063-b238568063e5.png" alt="">
    <br>
    <br><strong>2.上海星期8小镇</strong>
    <br>价格：
    <del>230</del>元，类别：职业体验
    <br>免预约，全年下午场（15：30-19：30）均可使用，周一、三、四下午场馆
    <br><img src="http://106.14.15.72/imgs/org/201709/8c/1024-768/8cf5afc8-67a6-463e-8e64-97308b75291b.png" alt="">
    <br>
    <br><strong>3.成长湾儿童独立世界</strong>
    <br>价格：
    <del>229</del>元，类别：职业体验
    <br>免预约，平日周末均可使用，周一闭馆。法定节假日不可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/35/1024-768/353f5c61-f044-44ab-a879-628f6ff9cf01.png" alt="">
    <br>
    <br><strong>4.最爱机器人中心</strong>
    <br>价格：
    <del>360</del>元，类别：乐高体验
    <br>需预约，免费体验2次，60分钟一次，平日周末均可使用，江浙沪N家就近一家。
    <br><img src="http://106.14.15.72/imgs/org/201710/7c/1024-768/7c56ea24-8510-4097-95ba-aea61641ceda.png" alt="">
    <br>
    <br><strong>5.太阳岛国际俱乐部</strong>
    <br>价格：
    <del>210</del>元，类别：主题体验
    <br>免预约，高尔夫球体验、农场畅玩、手工DIY，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>6.悠游堂（连锁）</strong>
    <br>价格：
    <del>200</del>元，类别：主题体验
    <br>免预约，全市10家连锁任选一家，平日、周末可以使用，法定节假日不可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/fe/1024-768/fe56fd86-fef8-49fb-b31c-6fcc8dcb68ae.png" alt="">
    <br>
    <br><strong>7.浦江源温泉森林度假村</strong>
    <br>价格：
    <del>198</del>元，类别：温泉戏水
    <br>免预约，平日周末均可使用，营业时间：周二至周五13：30-22：00；周末：10：00-22：00。法定节假日不可使用。
    <br>
    <br><strong>8.嘉兴清池温泉</strong>
    <br>价格：
    <del>198</del>元，类别：温泉戏水
    <br>免预约，平日周末营业时间：周一至周五12：20-22：00；周末10：00-22：00。
    <br><img src="http://106.14.15.72/imgs/org/201709/08/1024-768/08c3e7d0-25ea-407b-a136-a21c1af1ec00.png" alt="">
    <br>
    <br><strong>9.奇乐儿主题公园</strong>
    <br>价格：
    <del>120</del>元，类别：主题体验
    <br>免预约，可在两家店任选一家体验，含一大一小。
    <br>
    <br><strong>10.天空之城欢乐嘉年华</strong>
    <br>价格：
    <del>180</del>元，类别：主题体验
    <br>免预约，平日、周末可用，法定节假日不可使用。营业时间：9：30-21：30。
    <br><img src="http://106.14.15.72/imgs/org/201709/74/1024-768/74d178c1-ba64-418f-88de-9c4d54009f00.png" alt="">
    <br>
    <br><strong>11.上海幻贝家</strong>
    <br>价格：
    <del>180</del>元，类别：职业体验
    <br>免预约，在指定日期内：平日、周末可使用，寒暑假不可使用法定节假日不可使用。
    <br>
    <br><strong>12.乖乖多儿童游乐园</strong>
    <br>价格：
    <del>160</del>元，类别：主题体验
    <br>免预约，乖乖多儿童乐园体验一次、舞蹈、画画、书法、语数外、围棋等课程体验两次。
    <br>
    <br><strong>13.佘山茂御开心农场</strong>
    <br>价格：
    <del>150</del>元，类别：农事体验
    <br>免预约，农耕体验、种植体验、参观小动物、五谷磨房体验。平日、周末及法定节假日均可使用。
    <br>
    <br><strong>14.安格斯玩具梦工厂（连锁）</strong>
    <br>价格：
    <del>128</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>15.未来生活体验馆</strong>
    <br>价格：
    <del>100</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日可使用。
    <br>
    <br><strong>16.昆山欧悦滑冰俱乐部</strong>
    <br>价格：
    <del>100</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/50/1024-768/509f5b88-ff71-44c0-aeb4-0e5228764742.png" alt="">
    <br>
    <br><strong>17.周庄古镇（5A)</strong>
    <br>价格：
    <del>100</del>元，类别：风景名胜
    <br>免预约
    <br><img src="http://106.14.15.72/imgs/org/201709/35/1024-768/35ed1884-cfb4-476d-b4f1-421813203816.png" alt="">
    <br>
    <br><strong>18.天空农场</strong>
    <br>价格：
    <del>88</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日均可使用：10：00-17：30。
    <br>
    <br><strong>19.游龙石文化科普馆（3A）</strong>
    <br>价格：
    <del>80</del>元，类别：人文知识
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>20.中国工业设计博物馆</strong>
    <br>价格：
    <del>75</del>元，类别：人文知识
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/09/1024-768/095a4116-8430-41b4-a141-42077c7ffe15.png" alt="">
    <br>
    <br><strong>21.木渎古镇景区（4A）</strong>
    <br>价格：
    <del>78</del>元，类别：风景名胜
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/fa/1024-768/fa30619f-758f-49ba-9bc8-22bdf97e9b8f.png" alt="">
    <br>
    <br><strong>22.果炫园农庄</strong>
    <br>价格：
    <del>75</del>元，类别：农事体验
    <br>免预约，种植体验、赠送果蔬盆栽一盆。
    <br>
    <br><strong>23.杭州白龙潭景区</strong>
    <br>价格：
    <del>60</del>元，类别：风景名胜
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>24.东方葵园（3A）</strong>
    <br>价格：
    <del>58</del>元，类别：风景名胜
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/e6/1024-768/e63687c1-70c0-4cdb-9951-aecd3794d9f6.png" alt="">
    <br>
    <br><strong>25.古堰画乡景区-古堰(4A)</strong>
    <br>价格：
    <del>50</del>元，类别：风景名胜
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/fe/1024-768/fe041b1d-e0c5-4c57-b8fa-067bbba36399.png" alt="">
    <br>
    <br><strong>26.枫泾古镇</strong>
    <br>价格：
    <del>50</del>元，类别：风景名胜
    <br>免预约，平日及周末可以使用，法定节假日不可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/37/1024-768/37ee15b7-9c00-4886-8114-6b67289dc2ac.png" alt="">
    <br>
    <br><strong>27.崇明荷花博览园</strong>
    <br>价格：
    <del>50</del>元，类别：风景名胜
    <br>免预约，斗鸡斗羊、纺纱、踏水车，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>28.东西岩景区（4A）</strong>
    <br>价格：
    <del>45</del>元，类别：风景名胜
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/00/1024-768/001fc0b5-a831-49ba-87a6-53fbf6c84ec3.png" alt="">
    <br>
    <br><strong>29.古堰画乡景区-画乡（4A）</strong>
    <br>价格：
    <del>50</del>元，类别：风景名胜
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/59/1024-768/5949bfcb-e26c-43ae-af63-09eb1cd3367d.png" alt="">
    <br>
    <br><strong>30.城市引擎科技馆</strong>
    <br>价格：
    <del>60</del>元，类别：主题体验
    <br>免预约，周六：14：00-17：00、19：00-21：00/周日：14：00-17：00，平日不可使用，寒暑假、周末、法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/5e/1024-768/5e88119e-c678-475b-af30-033e434d343a.png" alt="">
    <br>
    <br><strong>31.悠活岛亲子乐园</strong>
    <br>价格：
    <del>60</del>元，类别：主题体验
    <br>免预约，射箭一篓、缅甸桥。
    <br><img src="http://106.14.15.72/imgs/org/201709/85/1024-768/85556e59-393b-4399-b92e-6cb862c92600.png" alt="">
    <br>
    <br><strong>32.浦江玫瑰园</strong>
    <br>价格：
    <del>60</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>33.高家庄生态园（3A）</strong>
    <br>价格：
    <del>60</del>元，类别：农事体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>34.碧云花海农场</strong>
    <br>价格：
    <del>50</del>元，类别：农事体验
    <br>免预约，平日、周末均可使用。
    <br>
    <br><strong>35.澳多奇农场</strong>
    <br>价格：
    <del>50</del>元，类别：农事体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>36.创意生活农庄</strong>
    <br>价格：
    <del>50</del>元，类别：农事体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>37.光明瑞华果园</strong>
    <br>价格：
    <del>50</del>元，类别：农事体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/af/1024-768/af6060bf-7b43-403a-864b-27e9df03985b.png" alt="">
    <br>
    <br><strong>38.上海都市菜园</strong>
    <br>价格：
    <del>45</del>元，类别：农事体验
    <br>免预约，入园门票、五大场馆，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/ee/1024-768/eea5e50d-675f-4131-afb6-c9f1c486edde.png" alt="">
    <br>
    <br><strong>39.申迪生态园上农嘉年华</strong>
    <br>价格：
    <del>50</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>40.莫莉幻想亲子园（连锁）</strong>
    <br>价格：
    <del>50</del>元，类别：主题体验
    <br>免预约，任选一家免费体验，平日及周末可用使用，法定节假日不可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/af/1024-768/afa7d3ad-d8f9-4698-b920-ec5b89dfbb92.png" alt="">
    <br>
    <br><strong>41.亲子村—乡村旅游基地</strong>
    <br>价格：
    <del>50</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br>
    <br><strong>42.杰的牧场（丹尼尔马术俱乐部）</strong>
    <br>价格：
    <del>50</del>元，类别：主题体验
    <br>免预约，平日、周末及法定节假日均可使用。
    <br><img src="http://106.14.15.72/imgs/org/201709/fa/1024-768/fa4e81fb-ac4a-4e2b-9a26-b5ca466c270a.png" alt="">
    <br>
    <br><strong>43.莫莉乐园（连锁）</strong>
    <br>价格：
    <del>45</del>元，类别：主题体验
    <br>免预约，9家店任选一家免费体验一次，平日及周末可用，法定节假日不可使用。
    <br>
    <br><strong>44.子曰陶社</strong>
    <br>价格：
    <del>49</del>元，类别：亲子DIY
    <br>需预约，体验制作大白或玫瑰花，时长45分钟。
    <br>
    <center><img src="http://106.14.15.72/imgs/org/201709/91/1024-768/91cdcecb-ac5a-4b70-a417-fc027de20439.png" alt=""></center>
    <p><strong>45.自然谷恐龙园</strong>
        <br>价格：
        <del>40</del>元，类别：主题体验
        <br>免预约，免费恐龙园门票，平日、周末及法定节假日均可使用。</p>
    <center><img src="http://106.14.15.72/imgs/org/201709/b2/1024-768/b258fac5-38be-4ffc-b178-40e428a175b9.png" alt=""></center>
    <p><strong>46.上海东林寺</strong>
        <br>价格：
        <del>30</del>元，类别：风景名胜
        <br>免预约，8：30-16：30，平日、周末可用。</p>
    <p><strong>47.天平山风景名胜区</strong>
        <br>价格：
        <del>30</del>元，类别：风景名胜
        <br>免预约一次，平日、周末及法定节假日均可使用。</p>
    <p><strong>48.中国农民画村</strong>
        <br>价格：
        <del>30</del>元，类别：风景名胜
        <br>免预约，5月-10月8：00-17：00/11月-4月8：00-16：30。</p>
    <center><img src="http://106.14.15.72/imgs/org/201709/74/1024-768/74b8039b-3477-4cb3-9a11-6888b6116216.png" alt=""></center>
    <p><strong>49.海宁假日牧场动物乐园</strong>
        <br>价格：
        <del>30</del>元，类别：主题体验
        <br>免预约，平日、周末可用，大型活动及法定节假日不可使用。</p>
    <p><strong>50.瀛东生态村</strong>
        <br>价格：
        <del>20</del>元，类别：风景名胜
        <br>免预约，斗鸡斗羊、纺纱、踏水车，平日、周末及法定节假日均可使用。</p>
    <p><strong>51.上海方塔园</strong>
        <br>价格：
        <del>20</del>元，类别：风景名胜
        <br>免预约</p>
    <center><img src="http://106.14.15.72/imgs/org/201709/46/1024-768/46923b4e-d048-45e8-911a-be9c1c257f80.png" alt=""></center>
    <p><strong>52.浙江东方地质博物馆</strong>
        <br>价格：
        <del>30</del>元，类别：人文知识
        <br>免预约，平日、周末及法定节假日均可使用。</p>
    <p><strong>53.纸箱王主题乐园</strong>
        <br>价格：
        <del>30</del>元，类别：亲子DIY
        <br>免预约，体验纸艺手工1次、小礼品一份。</p>
    <p><strong>54.梅花洲景区（4A)</strong>
        <br>价格：
        <del>100</del>元，类别：风景名胜
        <br>免预约，平日、周末及法定节假日均可使用。</p>
    <p><strong>55.百山祖旅游景区</strong>
        <br>价格：
        <del>90</del>元，类别：风景名胜
        <br>免预约，平日、周末及法定节假日均可使用。</p>
    <p><strong>所有景点以护照实物为准！！！</strong></p>
</body>

</html>